# Session 27.11.2020

## Dictionaries

In [1]:
name_roll = {1: 'Lalit', 2: 'Meet'}

In [2]:
name_roll[1]

'Lalit'

In [3]:
name_roll[3] = 'Ravi'

In [4]:
name_roll

{1: 'Lalit', 2: 'Meet', 3: 'Ravi'}

In [7]:
name_roll[4]

KeyError: 4

In [8]:
name_roll.get(4, "No valid argument")

'No valid argument'

In [5]:
roll_no = list(range(1, 5))
name = list('abcde')
dict(zip(roll_no, name))

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [6]:
d = {}
for ix, rn in enumerate(roll_no):
    d[rn] = name[ix]
d

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [9]:
for key in d:
    print(key)

1
2
3
4

In [12]:
for key in name_roll:
    print(f"{key} -> {name_roll[key]}")

1 -> Lalit
2 -> Meet
3 -> Ravi

In [13]:
for key, value in name_roll.items():
    print(f"{key} -> {value}")

1 -> Lalit
2 -> Meet
3 -> Ravi

In [14]:
list(name_roll.keys())

[1, 2, 3]

In [15]:
currency = {
    'India': 'Rupees',
    'US': 'Dollar',
    'Germanay': 'Euro'
}

In [17]:
currency['India']

'Rupees'

## Use Case:

In [19]:
in_str = 'Hello World'
{ch: in_str.count(ch) for ch in in_str if ch != ' '}

{'H': 1, 'e': 1, 'l': 3, 'o': 2, 'W': 1, 'r': 1, 'd': 1}

In [25]:
def switch(dayNo):
    switch_dict = {
        1: "Monday",
        2: "Tuesday",
        3: "Wend",
        4: "Thrusday",
        5: "Friday",
        6: "Sat",
        7: "Sunday"
    }
    return switch_dict.get(dayNo, "No Valid argument")

In [26]:
switch(8)

'No Valid argument'

In [27]:
calc = {
    'add': lambda x, y: x + y,
    'multi': lambda x, y: x * y,
}

In [28]:
calc['add'](2, 3)

5

# Session 26.11.2020

## `lambda`

In [1]:
def f(x):
    return x**2

In [2]:
f(2)

4

In [8]:
my_fun = lambda x, y=0: x**2 + y**2

In [10]:
my_fun(3, 4)

25

In [11]:
L = [1, 3, 4, 7, 10]

In [12]:
for num in L:
    if num % 2 == 0:
        print(num)

4
10

In [13]:
[num for num in L if num % 2 == 0]

[4, 10]

In [15]:
list(filter(lambda x: x%2 == 0, L))

[4, 10]

In [19]:
tuple(filter(lambda x: x > 4, L))

(7, 10)

In [21]:
num = 123
num_str = str(num)
int(num_str[::-1])

321

In [25]:
for n in reversed(num_str):
    print(n, end='')

321

In [26]:
def reverse(num):
    num_str = str(num)
    return int(num_str[::-1])

In [28]:
reverse(123459)

954321

# Session 25.11.2020

In [5]:
total = 0
for n in 'a1b2c34':
    if n.isdigit():
        total += int(n)
print(total)

10

In [6]:
s1 = 'Welcome back'
cnt_blank = s1.count(" ")
ch_cnt = len(s1) - cnt_blank
print(ch_cnt)

11

In [7]:
def ch_cnt(in_str):
    cnt_blank = in_str.count(" ")
    ch_cnt = len(in_str) - cnt_blank
    return ch_cnt

In [9]:
print(ch_cnt(s1))

11

In [15]:
def vowel_consonant_cnt(in_str: str ='Hello') -> tuple:
    """
    This function returns number of vowels and consonents from given string. 
    >>>  vowel_consonant_cnt('Welcome back')
        (4, 7)
    """
    vowels = list('aeiou')
    cnt = 0
    for ch in in_str.lower():
        if ch in vowels:
            cnt += 1
    return cnt, ch_cnt(in_str)-cnt

print(f"Number of Vowels are {vowel_consonant_cnt(s1)[0]}")
print(f"Number of consonents are {vowel_consonant_cnt(s1)[1]}")

Number of Vowels are 4
Number of consonents are 7

In [16]:
vowel_consonant_cnt()

(2, 3)

In [18]:
def multiple_args(*args):
    total = 0
    for arg in args:
        total += arg
    return total

In [21]:
multiple_args(2)

2

In [22]:
L = list(range(1, 6))
multiple_args(*L)

15

In [23]:
print(L)

[1, 2, 3, 4, 5]

In [27]:
print(*L, sep=',')

1,2,3,4,5

In [28]:
3**2 + 4**2 + 5**2

50

# Session 24.11.2020

In [4]:
s = 'Elephant'
vowels = list('aeiou')
cnt = 0
for ch in s.lower():
    if ch in vowels:
        cnt += 1
print(f"Number of Vowels in {s!r} are {cnt}")

Number of Vowels in 'Elephant' are 3

In [5]:
s1 = 'Welcome back'

In [6]:
vowels = list('aeiou')
cnt = 0
for ch in s1.lower():
    if ch in vowels:
        cnt += 1
print(f"Number of Vowels in {s1!r} are {cnt}")

Number of Vowels in 'Welcome back' are 4

In [7]:
multiple3 = []
for num in range(1, 101):
    if num % 3 == 0:
        multiple3.append(num)
print(multiple3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [12]:
multiple3_new = [num for num in range(1, 101) if num % 3 == 0]
print(multiple3_new)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [8]:
square = []
for num in range(1, 10):
    square.append(num**2)
square

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
square_new = [num**2 for num in range(1, 10)]
square_new

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
def add(x, y):
    if x > 0:
        return x + y
    else:
        return -x + y

In [24]:
add(-2, 3)

5

In [17]:
def square(num: int) -> tuple:
    """
    This function returns square and cube for given number
    """
    return num**2, num**3

In [20]:
square(3)

(9, 27)

# Session 12.11.2020

## on `str()`

In [2]:
n = int(input("how many values you want to enter:"))
lst = []
for ix in range(n):
    num = eval(input(f"Enter {ix} value:"))
    lst.append(num)
print(lst)

[5, 3.5, -6]

In [34]:
numbers = input("Enter numbers separated by commas")
# type(numbers)
# print(numbers)
lst1 = numbers.split(',')
print(lst1)
for ix in range(len(lst1)):
    lst1[ix] = eval(lst1[ix])
lst1

['5', ' 3.5', ' -6']

[5, 3.5, -6]

In [36]:
s1 = 'aj2o5ere'
for ch in s1:
    print(ch.isdigit())

False
False
True
False
True
False
False
False

In [6]:
lst[0] = 7
lst

[7, 3.5, -6]

In [3]:
s = 'dollar'
for ix, ch in enumerate(s):
    print(f"Character {ch} is at index {ix}")

Character d is at index 0
Character o is at index 1
Character l is at index 2
Character l is at index 3
Character a is at index 4
Character r is at index 5

In [7]:
s[0] = 'r'

TypeError: 'str' object does not support item assignment

In [10]:
'r' + s[1:]

'rollar'

In [13]:
'welcome back'.title()

'Welcome Back'

In [14]:
'welcome back'.count('c')

2

In [17]:
''.join('welcome back')

'welcome back'

In [20]:
s = 'welcome back to python session'
s.split()

['welcome', 'back', 'to', 'python', 'session']

In [21]:
s.count(' ')

4

In [23]:
len(s) - s.count(' ')

26

In [28]:
s = 'Elphant'
'e' in s.lower()

True

In [27]:
s.lower()

'elphant'

# Excerics

Que: Write a program that accepts a string from the user and find the length of string and number of characters in the string. Also, count vowels and consonants from it.

## List Addition

In [38]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = [7, 8, 9]

In [40]:
# index approach
n = len(l1)
l4 = [0] * n
for ix in range(n):
    l4[ix] = l1[ix] + l2[ix] + l3[ix]
    print(f"{l1[ix]} + {l2[ix]} + {l3[ix]} = {l4[ix]}")

1 + 4 + 7 = 12
2 + 5 + 8 = 15
3 + 6 + 9 = 18

In [45]:
l4 = []
for v1,v2,v3 in zip(l1, l2, l3):
    v4 = v1 + v2 + v3
    print(f"{v1} + {v2} + {v3} = {v4}")
    l4.append(v4)

1 + 4 + 7 = 12
2 + 5 + 8 = 15
3 + 6 + 9 = 18

In [46]:
l4

[12, 15, 18]

In [42]:
l5 = [1, 2, 3, 4]
for v1, v5 in zip(l1, l5):
    print(v1, v5)

1 1
2 2
3 3

# Session 11.11.2020

## Exercise
Compose a program that prompts the user to enter integers and store it into list. From a
created list, the composed program also display minimum and next min values and their
position. For example,

```python
L = [3, 7, 3, 2, 5, 2]
L = [4, 7, 3, 2, 5, 2, 6, 2]
```

*output:*

min is 2 at index: 3, <br>
next_min: 3 at index: 0

In [1]:
L = [3, 7, 3, 2, 5, 2]
n = len(L)
min_val = L[0]
min_val_ix = 0
for ix in range(1, n):
    if L[ix] < min_val:
        min_val = L[ix]
        min_val_ix = ix
print(f"Mininum value is {min_val} at position {min_val_ix}")

Mininum value is 2 at position 3

In [9]:
min_val = min(L)
min_val_ix = L.index(2)
print(f"Mininum value is {min_val} at position {min_val_ix}")

Mininum value is 2 at position 3

In [11]:
L.remove(2)
L

[3, 7, 3, 5]

In [13]:
next_min_val = min(L)
next_min_val_ix = L.index(next_min_val)
print(f"Mininum value is {next_min_val} at position {next_min_val_ix}")

Mininum value is 3 at position 0

In [2]:
L1 = [3, 7, 3, 2, 5, 2]
L1.sort()

In [63]:
L = [5, 2, 2, 3, 2, 7, 2, 5, 2, 7, 2, 5, 2, 2]
# L.count(min(L))

In [59]:
min_val = min(L)
min_val_ix = L.index(min_val)
cnt = L.count(min_val)
print(f"Mininum value is {min_val} at position {min_val_ix}")
print(f"Minimum value occurs {cnt} times in the given list.")

Mininum value is 2 at position 1
Minimum value occurs 8 times in the given list.

In [60]:
temp_list = L.copy()
while cnt:
    # print(cnt)
    temp_list.remove(min_val)    
    cnt = cnt - 1
# print(temp_list)

In [62]:
next_min_val = min(temp_list)
next_min_val_ix = L.index(next_min_val)
print(f"Mininum value is {next_min_val} at position {next_min_val_ix}")

Mininum value is 3 at position 3

In [65]:
# Final Code
min_val = min(L)
min_val_ix = L.index(min_val)
cnt = L.count(min_val)
print(f"Mininum value is {min_val} at position {min_val_ix}")
print(f"Minimum value occurs {cnt} times in the given list.")
temp_list = L.copy()
while cnt:
    temp_list.remove(min_val)    
    cnt = cnt - 1
# for _ in range(cnt):    
#     temp_list.remove(min_val)    
next_min_val = min(temp_list)
next_min_val_ix = L.index(next_min_val)
print(f"Next Mininum value is {next_min_val} at position {next_min_val_ix}")

Mininum value is 2 at position 1
Minimum value occurs 8 times in the given list.
Next Mininum value is 3 at position 3

# Session 10.11.2020

## On List

In [3]:
a = 2, 2.5, 'hello'
type(a)

tuple

In [4]:
L = list(a)
L

[2, 2.5, 'hello']

In [6]:
L1 = [2, 2.5, 'hello', ['apple', 'organge', -2.5]]
L1

[2, 2.5, 'hello', ['apple', 'organge', -2.5]]

In [12]:
L1[3][2]

-2.5

In [14]:
L1[-2]

'hello'

In [15]:
len(L1)

4

In [17]:
L2 = list(range(1, 11))
L2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
L2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
L

[2, 2.5, 'hello']

In [32]:
L = [1, 2, 3]

In [27]:
L1 = [1, 2, 3]

In [33]:
L * L1

TypeError: can't multiply sequence by non-int of type 'list'

## slice

In [34]:
L = [5, -12.5, 'hello', 20, ['cat', 11, 'cold'], 'H']

In [40]:
L[0::2]

[5, 'hello', ['cat', 11, 'cold']]

In [43]:
L[1:-2]

[-12.5, 'hello', 20]

In [44]:
L[0] = 5.5
L

[5.5, -12.5, 'hello', 20, ['cat', 11, 'cold'], 'H']

In [47]:
L[-1] = 'World'
L

[5.5, -12.5, 'hello', 20, ['cat', 11, 'cold'], 'World']

In [48]:
from random import sample
L2 = sample(list(range(-5, 50)), 10)
L2

[27, 41, 24, 34, 19, 40, 44, 22, 18, 46]

In [50]:
for ix in range(len(L2)):
    # print(f"The value at index {ix} is {L2[ix]}")
    print(f"{L2[ix] * 2}", end='\t')

54	82	48	68	38	80	88	44	36	92

In [51]:
for val in L2:
    print(f"{val * 2}", end='\t')

54	82	48	68	38	80	88	44	36	92

In [53]:
for ix, val in enumerate(L2):
    print(f"The value at index {ix} is {val}")

The value at index 1 is 27
The value at index 2 is 41
The value at index 3 is 24
The value at index 4 is 34
The value at index 5 is 19
The value at index 6 is 40
The value at index 7 is 44
The value at index 8 is 22
The value at index 9 is 18
The value at index 10 is 46

# Session 06.11.2020

## Fibonacci Series

- A series of numbers in which each number ( Fibonacci number ) is the sum of the two preceding numbers.
- The simplest is the series 1, 1, 2, 3, 5, 8, etc.

In [7]:
f0 = int(input("Enter the value of first term:"))
f1 = int(input("Enter the value of second term:"))
n = int(input("How many fibonacci terms you want to display?:"))
for cnt in range(1, n+1):
    f2 = f0 + f1
    print(f2, end='\t')
    if cnt > 1 and cnt % 5 == 0:
        print()
    f0, f1 = f1, f2

2	3	5	8	13
21	34	55	89	144
233	377	610	987	1597
2584

In [10]:
del f2, f0, f1

In [13]:
f0, f1 = 0, 1
while f1 < 100:
    # f2 = f1 + f0
    print(f1, end=' ')
    f0, f1 = f1, f0 + f1

1 1 2 3 5 8 13 21 34 55 89

In [17]:
a, b = 1, 2

In [18]:
print(a, b, end='\t')
a, b = b, a + b
print(a, b, end='\t')

1 2	2 3

## Factor's Program

Write a Python program to display all factors of user entered number.

In [21]:
import time
number = 12457568
start = time.time()
for div in range(1, number+1):
    if number % div == 0:
        print(div, end='\t')
print(f"Total time {time.time() - start}")

1	2	4	8	16	32	389299	778598	1557196	3114392	6228784	12457568	Total time 4.546889066696167

In [22]:
import time
number = 12457568
start = time.time()
for div in range(1, number//2+1):
    if number % div == 0:
        print(div, end='\t')

print(f"Total time {time.time() - start}")

1	2	4	8	16	32	389299	778598	1557196	3114392	6228784	Total time 2.1144795417785645

In [23]:
# List
L = [2, 3.5, 'hello', [-2, 5.5, 'world']]
type(L)

list

In [ ]:
L.append

In [25]:
number = 12
divisor = []
for div in range(1, number//2+1):
    if number % div == 0:
        # print(div, end='\t')
        divisor.append(div)
divisor.append(number)
print(divisor)

[1, 2, 3, 4, 6, 12]

# Exercise

Write a Python program that prompts the user to enter the number (integer) until zero is entered. The number obtained should display the count of positive and negative numbers and display the average of entered numbers.

# Session 05.11.2020

In [5]:
age = 35 
bmi = 18

In [6]:
young = age < 45
young

True

In [7]:
slim = bmi < 22
slim

True

In [2]:
if age < 45:
    if bmi < 22:
        risk = 'Low'
    if bmi >= 22:
        risk = 'Medium'
else:
    if bmi < 22:
        risk = 'Medium'
    if bmi >= 22:
        risk = 'High'
print("The risk of heart disesase is", risk)

The risk of heart disesase is High

In [9]:
age = int(input('Enter your age:'))
bmi = float(input('Enter your bmi:'))

In [10]:
if young and slim:
    risk = 'Low'
elif young and not slim:
    risk = 'Medium'
elif not young and slim:
    risk = 'Medium'
elif not young and not slim:
    risk = 'High'
print("The risk of heart disesase is", risk)

The risk of heart disesase is Low

In [13]:
not slim

False

## "For" Loop

In [41]:
for num in range(11, -4, -2):
    print(num, end='\t')

11	9	7	5	3	1	-1	-3

In [46]:
for num in range(11):
    print(num, end='\t')

0	1	2	3	4	5	6	7	8	9	10

In [47]:
for num in range(11, 21):
    print(num, end='\t')

11	12	13	14	15	16	17	18	19	20

In [35]:
my_str = 'Hello World'
length = 0
for ch in my_str:
    print(ch, end=' ')
    length += 1
print()
print(length)

H e l l o   W o r l d
11

In [34]:
len(my_str)

11

In [43]:
n = int(input("Enter the number:"))

In [45]:
for num in range(1, n+1):
    print(num, num**2, sep='-->')

1-->1
2-->4
3-->9
4-->16
5-->25
6-->36
7-->49
8-->64
9-->81
10-->100

# Session 04.11.2020

In [4]:
import math

In [5]:
math.sqrt(2)

1.4142135623730951

In [6]:
2 ** (0.5)

1.4142135623730951

In [7]:
from math import sqrt, sin, cos

In [10]:
sqrt(-3)

ValueError: math domain error

In [15]:
x = eval(input('Enter the number: '))
print(type(x))

<class 'str'>

In [2]:
'Hardik'

'Hardik'

In [3]:
"Soni"

'Soni'

In [5]:
type(12.2)

float

In [6]:
x = None

In [7]:
type(x)

NoneType

In [8]:
(2.5 + 3 - 6 / 2) * 2 % 3

2.0

In [9]:
'Hardik ' + 'Soni'

'Hardik Soni'

In [10]:
'Hardik ' - 'Soni'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [12]:
'hardik' * 3

'hardikhardikhardik'

In [16]:
'*' * 20

'********************'